.feature-item {

    position: relative;
    padding-bottom: 2.5rem;
    transition-duration: 0.3s;

    a {
        text-decoration: none;
        color: #333;
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 400;
        position: absolute;
        top: 51%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        color: #fff;

        @mixin atModerateLarge {
            font-size: 1.8rem;
            width: 65%;
            /*text-align: left;*/
        }
    }

    & picture:hover, & picture:focus, & picture:active {
        transform: scale(1.1);
        transition: all 0.3s ease-out;
        display: inline-block;
        font-size: 2rem;
        background: rgb(0, 0, 0);
    }
}
