.page-section {
    padding: 1.2rem 0;

    @mixin atMedium {
        padding: 4.5rem 0;
    }
    &--blue {
        background-color: $mainLightBlue;
        /*color: #fff;*/
        text-align: center;

        @mixin atSmall {
            text-align: left;
        }
    }

    &--contactMe {
        background-color: #e0e6ef;


        @mixin atMedium {
            &.lazyloaded {
                background: url('/assets/images/contactMe_bg.jpg') bottom center no-repeat;
                background-size: cover;
                color: #fff;
            }
        }
    }
}